services:
  app:
    build: .
    depends_on:
      - seq
    env_file:
      - .env
    environment:
      - Serilog__WriteTo__1__Args__serverUrl=http://seq:5341

  seq:
    image: datalust/seq:latest
    ports:
      - "5341:80"
    environment:
      - ACCEPT_EULA=Y
    volumes:
      - seq-data:/data

volumes:
  seq-data:
